<!DOCTYPE html>
<html>

<head>

    <title>Glam AI Clone</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>
<body>

<div class="app">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <h1>Glam AI</h1>
        <p>Premium AI Studio</p>

        <button id="themeToggle">
            Toggle Theme
        </button>

        <div class="tool-section">
            <button onclick="applyAnimeFilter()">
                Anime
            </button>
            <button onclick="applySketchFilter()">
                Pencil Sketch
            </button>
            <button onclick="applyPopArtFilter()">
                Pop Art
            </button>
            <button onclick="applyOilPaintFilter()">
                Oil Painting
            </button>

            <button onclick="removeBackground()">
                Remove Background
            </button>

            <button onclick="applyBeautyFilter()">
                Beauty Filter
            </button>

            <button onclick="applyCartoonFilter()">
                Cartoon Filter
            </button>
            <button onclick="applySketchFilter()">
                Sketch Filter
            </button>

            <button id="downloadBtn">
                Download
            </button>

        </div>

    </div>

    <!-- MAIN -->
    <div class="main-content">

        <!-- UPLOAD -->
        <div id="dropArea">

            <h2>Upload Your Image</h2>

            <p>Drag & drop or choose file</p>

            <label for="imageInput" class="custom-upload">
                Choose Image
            </label>

            <input type="file" id="imageInput" hidden>

        </div>

        <!-- IMAGE SECTION -->
        <div class="image-box">

            <div class="image-card">

                <h3>Original</h3>

                <img id="preview">

            </div>

            <div class="image-card">

                <h3>AI Result</h3>

                <img id="resultImage">

            </div>

        </div>

        <!-- STATUS -->
        <p id="status"></p>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>